<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')%>


<body>
    <%- include('./partials/nav.ejs')%>
    <div class="about content">
        <h2>About us</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi sint doloribus aspernatur enim vero, itaque, ipsa aliquid harum in velit quisquam quidem voluptatibus minima soluta?</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi sint doloribus aspernatur enim vero, itaque, ipsa aliquid harum in velit quisquam quidem voluptatibus minima soluta?</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi sint doloribus aspernatur enim vero, itaque, ipsa aliquid harum in velit quisquam quidem voluptatibus minima soluta?</p>
    </div>
    <%- include('./partials/footer.ejs')%>

</body>

</html>